@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    font-family: 'Work Sans', sans-serif;;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: none;
}
.header{
  
   background-image: url('images/back.png');
   background-size: cover;
}
/* Navigation bar */
#nav{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 10%;
}
#navmenu{
    display:flex;
    align-items: center;
}
#navmenu>a{
    margin: 10px;
    color: white;
    text-decoration: none;
}

#butt{
    margin: 10px;
    display: inline-block;
    border: solid lightgray 1px;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
}
#basket{
    background-color: rgba(211, 211, 211, 0.688);
    display: inline-block;
    padding: 10px 10px;
    border-radius: 50%;
}

/* Lower header */

#lowerhead{
   display: flex;
   flex-direction: row;
   height: 90vh;
}

.headersec{
    width: 50%;
}

#right-top{
    position: relative;
}

#food1{
    position: absolute;
    z-index: 1;
    right: 180px;
    top: 80px;
}
#food2{
    position: absolute;
    top:380px;
    right: 420px;
}
#food3{
    position: absolute;
    right:80px;
    z-index: 2;
}

#left-top{
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    font-size: 30px;
    color: white;
}

#left-top>div{
    margin-top: 20px;
    margin-left:150px;    
}

#headertxt1>p{
    font-family: 'Caveat', cursive;
    color: black;
    font-size: 45px;
}
#search{
    width: 400px;
    padding: 5px;
    height: 42px;
    border-radius: 10px;
    background-color: white;
}
#searchbut{
    width: 30%;
    padding: 10px;
    float: right;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(251, 154, 154);
}

/* BODY */

.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.bodysections{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
}

.greenbutton{
    margin: 20px 0px;
    border-radius: 10px;
    padding: 5px 10px;
    color:white;
    width: 100px;
    background-color: rgb(61, 122, 61);
}

.cards{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.card1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    border-radius: 15px;
    background-color: rgb(239, 242, 244);
    width: 170px;
    height: 240px;
}
.card1img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: white;
}

.card1:hover{
    background-color: rgb(221, 148, 11);
}
.cardno{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color: rgb(70, 123, 70);
}
.foodcard{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 15px;
    background-color: rgb(239, 242, 244);
    width: 270px;
    height: 320px;
}
.foodimg{
    height: 210px;
}
.food-text{
    margin-top: 30px;
    padding: 0px 20px;
    line-height: 30px;
    text-align: left;
}
.innerfood{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.foodrating{
    position: absolute;
    top: 10px;
    left: 10px;
    color: antiquewhite;
    height: 50px;
    width: 95px;
    border-radius: 10px;
    background-color: rgb(245, 104, 104);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* poster */
.posters{
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-direction: row;
}
.posters>div{
    position: relative;
    width:50%;
}
#postermap{
    position: absolute;
    top: 280px;
    left: 530px;
}
#square{
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: lightgrey;
}
#semi{
    position: absolute;
    right: -50px;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: rgb(242, 205, 211);
}

.poster-right{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 100px;
}
.posterbutt{
    border-radius: 10px;
    padding: 5px 10px;
    color:white;
    width: 50px;
    background-color: rgb(61, 122, 61);
}
.postertxt{
    text-align: left;
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
}

.intpostxt2{
    font-size: 15px;
    width:500px;
    color: grey;
    font-weight: 400;
    line-height: 30px;
}

#postsearch{
    height: 50px;
    display: flex;
    flex-direction: row;
}

.srch{
    height: 40px;
    width: 260px;
    border: solid lightgray 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0px 10px;
    margin-right: 30px;

}
.redbutton{
    height: 20px;
    background-color: rgb(245, 104, 104);
    padding: 10px;
    color:white;
    border-radius: 10px;
}
.menu{
    padding-top: 100px;
    width: 75%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
#menutxt{
    display: flex;
    justify-content: space-between;
    color: grey;
}
#menucards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.mcard{
    position: relative;
    display: flex;
    margin-top: 40px;
    border-radius: 20px;
    background-color: lightgray;
    flex-direction: row;
    height: 208px;
    width: 550px;
}
.mcardtxt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.mtxt{
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
}
.mcardprice{
    display: flex;
    width: 240px;
    flex-direction: row;
    justify-content: space-between;
}
#coffee{
    position: absolute;
    top:330px;
    left: 100px;
}
.iphonepost{
    display: flex;
    width: 100%;
    height: 370px;
    background-color: rgb(248, 119, 72);
}

.iph{
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#iphtxt{
    display: inline-block;
    color: beige;
    font-size: 30px;
    text-align: left;
}
#iphone{
    position: absolute;
    top: 70px;
}
#dots2{
    position: absolute;
    top:150px;
    right: 100px;
}
#dots1{
    position: absolute;
    top:80px;
    left: 100px;
}

/* footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 330px;
    background-color: rgb(39, 38, 38);
}
#footerupper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}
.footertxt{
    display: inline-block;
    padding-top: 20px;
    width: 300px;
    color:white;
}
#menu{
    text-align: start;
    height: 80px;
}
.trow{
    display: flex;
    height: 40px;
    justify-content: space-between;
    width: 250px;
}
#footerlower{
    width: 85%;
    height: 20%;
    text-align: right;
    color: antiquewhite;
}
#footerlower span{
    padding-left: 30px;
}
